

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payment_methods.each do |payment_method| %>
  <tr>
    <td><%= payment_method.name %></td>
    <td><%= payment_method.user.email if payment_method.user %></td>
    <td><%= link_to image_tag('document.png', :title => 'see this'), payment_method %>
    <%= link_to image_tag('document_edit.png', :title => 'edit this'), edit_payment_method_path(payment_method) %>
    <%= link_to image_tag('document_delete.png', :title => 'delete this'), payment_method, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to image_tag('document_add.png', :title => 'create a new one'), new_payment_method_path %>
