

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cost_types.each do |cost_type| %>
  <tr>
    <td><%= cost_type.name %></td>
    <td><%= link_to image_tag('document.png', :title => 'see this'), cost_type %>
    <%= link_to image_tag('document_edit.png', :title => 'edit this'), edit_cost_type_path(cost_type) %>
    <%= link_to image_tag('document_delete.png', :title => 'delete this'), cost_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to image_tag('document_add.png', :title => 'create a new one'), new_cost_type_path %>
