<table>
  <tr>
    <th>Amount</th>
    <th>Vat</th>
    <th>Description</th>
    <th>Reference</th>
    <th>Payment date</th>
    <th>Cost centre</th>
    <th>Project</th>
    <th>User</th>
    <th>Payment method</th>
    <th>Cost type</th>
    <th>Company</th>
    <th>Contact</th>
    <th></th>
  </tr>

<% @costs.each do |cost| %>
  <tr>
    <td><%= number_to_currency(cost.amount, :unit => '&pound;') %></td>
    <td><%= cost.vat.round(2) %>%</td>
    <td><%= cost.description %></td>
    <td><%= cost.reference %></td>
    <td><%= cost.payment_date.strftime("%d/%m/%Y") %></td>
    <td><%= cost.cost_centre.name %></td>
    <td><%= cost.project.name if cost.project %></td>
    <td><%= cost.user.email %></td>
    <td><%= cost.payment_method.name %></td>
    <td><%= cost.cost_type.name %></td>
    <td><%= cost.company.name if cost.company %></td>
    <td><%= cost.contact.name if cost.contact %></td>
    <td><%= link_to image_tag('document.png', :title => 'see this'), cost %>
    <%= link_to image_tag('document_edit.png', :title => 'edit this'), edit_cost_path(cost) %>
    <%= link_to image_tag('document_delete.png', :title => 'delete this'), cost, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to image_tag('document_add.png', :title => 'create a new one'), new_cost_path %>
