<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @cost.amount %>
</p>

<p>
  <b>Vat:</b>
  <%= @cost.vat %>
</p>

<p>
  <b>Description:</b>
  <%= @cost.description %>
</p>

<p>
  <b>Reference:</b>
  <%= @cost.reference %>
</p>

<p>
  <b>Payment date:</b>
  <%= @cost.payment_date %>
</p>

<p>
  <b>Cost centre:</b>
  <%= @cost.cost_centre.name %>
</p>

<p>
  <b>Payer:</b>
  <%= @cost.user.email %>
</p>

<p>
  <b>Payment type:</b>
  <%= @cost.payment_method.name %>
</p>

<p>
  <b>Cost type:</b>
  <%= @cost.cost_type.name %>
</p>

<p>
  <b>Company:</b>
  <%= @cost.company.name if @cost.company %>
</p>

<p>
  <b>Contact:</b>
  <%= @cost.contact.name if @cost.contact%>
</p>


<%= link_to image_tag('document_edit.png', :title => 'edit this'), edit_cost_path(@cost) %>
<%= link_to image_tag('file_search.png', :title => 'return to list'), costs_path %>
