<% form_tag root_path, :id => 'filter_me' do %>
	<%= select_tag(:in_the_last, in_the_last_options) %>
	&nbsp;
	<%= select_tag(:has_spent, users_options) %>
<% end %>

<h4><%= user_has_spent %></h4>
<%= number_to_currency(total_for_user(params[:has_spent]), :unit => '&pound;') %>

<h4>Cost Centres</h4>
<% CostCentre.all.each do |cost_centre| %>
	<div>
	<%= cost_centre.name %>&nbsp;
	<%= number_to_currency(total_costs_by_cost_centre(cost_centre), :unit => '&pound;') %>&nbsp;
    <%= link_to "view", costs_path(:has_spent => params[:has_spent], 
									:in_the_last => params[:in_the_last], 
									:cc => cost_centre.id) %>

	</div>
<% end %>

<h4>Projects</h4>
<% Project.all.each do |project| %>
	<div><%= project.name %>&nbsp;
		<%= number_to_currency(total_costs_by_project(project), :unit => '&pound;') %>
	    <%= link_to "view", costs_path(:has_spent => params[:has_spent], 
										:in_the_last => params[:in_the_last], 
										:pr => project.id) %>
	</div>
<% end %>


