<% form_tag root_path, :id => 'filter_me' do %>
	In the last
	<%= select_tag(:in_the_last, options_for_select(in_the_last_options, params[:in_the_last])) %>
	&nbsp;
	<%= select_tag(:has_spent, options_for_select(users_options, params[:has_spent])) %>
<% end %>

<h4><%= user_has_spent %></h4>
<%= number_to_currency(total_for_user(params[:user_id]), :unit => '&pound;') %>

<h4>Cost Centres</h4>
<% CostCentre.all.each do |cost_centre| %>
	<div>
	<%= cost_centre.name %>&nbsp;
	<%= number_to_currency(total_costs_by_cost_centre(cost_centre), :unit => '&pound;') %>&nbsp;
	<%= form_tag costs_path, :method => "GET", :id => "list_cost_centre_#{cost_centre.id}", :class => 'submit_form' do %>
		<%= hidden_field_tag(:user_id, params[:has_spent]) %>&nbsp;
		<%= hidden_field_tag(:in_the_last, params[:in_the_last]) %>&nbsp;
		<%= hidden_field_tag(:cost_centre_id, cost_centre.id) %>
		<%= link_to "view",  "#", :class => "submit_form", :role => "list_cost_centre_#{cost_centre.id}" %>
	<% end %>
	</div>
<% end %>

<h4>Projects</h4>
<% Project.all.each do |project| %>
	<div><%= project.name %>&nbsp;
		<%= number_to_currency(total_costs_by_project(project), :unit => '&pound;') %>
		<%= form_tag costs_path, :method => "GET", :id => "list_project_#{project.id}", :class => 'submit_form' do %>
			<%= hidden_field_tag(:user_id, params[:has_spent]) %>&nbsp;
			<%= hidden_field_tag(:in_the_last, params[:in_the_last]) %>&nbsp;
			<%= hidden_field_tag(:project_id, project.id) %>
			<%= link_to "view",  "#", :class => "submit_form", :role => "list_project_#{project.id}" %>
		<% end %>
	</div>
<% end %>


