<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @payment_type.name %>
</p>

<p>
  <b>User:</b>
  <%= @payment_type.user_id %>
</p>


<%= link_to 'Edit', edit_payment_type_path(@payment_type) %> |
<%= link_to 'Back', payment_types_path %>
